html {
  height: 100%; }

body {
  height: 100%; }

header {
  background-color: #69BE28;
  color: white;
  padding-left: 20px;
  padding-right: 20px; }
  header a {
    color: white; }

.body-content {
  background: url("/Content/img/diamonds.svg") no-repeat top 8em left;
  min-height: 500px; }

.sub-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
  margin-top: 10px;
  margin-bottom: 2px;
  line-height: 60px; }
  .sub-header img {
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 100%;
    vertical-align: middle;
    padding-top: 2rem;
    margin-left: 15px; }

.page-title {
  color: gray !important;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px; }

.logged-in {
  font-size: 16px;
  text-align: center;
  line-height: 25px; }

.application-name {
  font-size: 16px;
  text-align: center;
  line-height: 25px; }

h1 {
  color: green !important; }

h2 {
  color: green !important;
  padding-bottom: 1em; }

h3 {
  color: #F4952F !important; }

h4 {
  color: #89C541 !important; }

h5 {
  color: #1a1da5 !important; }

h6 {
  color: #F4952F !important; }

footer {
  height: 100px;
  background-image: url("/Content/img/bg_contemporary-china_apple.gif");
  margin: 0 auto 0 auto;
  width: 100%; }

footer .sub {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #6fa231;
  color: #e0e6d9;
  font-size: 14px; }

.main-section {
  border-left: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.client-section {
  padding: 0px !important;
  background-color: white;
  margin: auto; }

#main-content {
  min-height: 890px;
  overflow: hidden; }

.page-bottom {
  margin-left: 10%;
  min-height: 50px;
  line-height: 50px;
  color: white; }

.page-bottom a {
  color: white; }

.page-bottom a:hover {
  color: #F4952F; }

.fa-medium-icon {
  font-size: 26px !important; }

.fa-small-icon {
  font-size: 21px !important;
  min-width: 30px; }

.fa-orange {
  color: #F4952F; }

.package {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%; }

.package-default {
  border-color: #ddd; }

.package-label {
  background-color: #f5f5f5;
  text-align: center;
  border-left-color: #ddd;
  float: left;
  padding: 10px;
  margin-right: 10px; }

.package-details {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; }

.logo {
  max-width: 200px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px; }

.large-filler {
  margin-top: 50px; }

.medium-filler {
  margin-top: 25px; }

.small-filler {
  margin-top: 10px; }

.sidebar-nav {
  padding: 0px;
  background-color: #f5f5f5; }

.client-logo {
  background-color: white;
  text-align: center;
  padding: 0px; }

.sidebar-nav-section {
  border-top: solid;
  border-bottom-width: 1px;
  border-bottom: solid;
  border-color: orange;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.sidebar-nav-header {
  padding-left: 10px; }

.plugin-heading {
  margin-top: 0px !important;
  padding-top: 0px; }

.benefit-header {
  margin-bottom: 10px; }

.panel-body-success {
  background-color: #F5FCF8; }

.capital {
  text-transform: capitalize; }

/*.tab-content{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ddd;
    border-right-style: solid;
    border-right-color: #ddd;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    border-bottom-width: 1px;

}*/
.mobile_menu_button {
  display: none; }

@media screen and (max-width: 480px) {
  .sidebar-nav {
    display: none; }
    .sidebar-nav.expanded {
      display: block; }
  .mobile_menu_button {
    display: block;
    padding: .25em 1em;
    font-weight: bold;
    background-color: orange; }
    .mobile_menu_button.open {
      background-color: #ffae1a; }
  .nav {
    padding-left: 2px;
    padding-right: 2px; }
  .nav li {
    display: block !important;
    width: 100%;
    margin: 0px; }
  .nav li.active {
    border-bottom: 1px solid #ddd !important;
    margin: 0px; } }

#pswd_info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px #ccc;
  border: 1px solid #ddd;
  display: none;
  z-index: 10; }

#pswd_info li,
ul {
  list-style-type: none; }

.invalid {
  color: #ec3f41; }

.valid {
  color: #3a7d34; }

.field-validation-error {
  color: #b94a48;
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  /*
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    */
  color: #b94a48;
  border-color: #b94a48 !important; }

.input-validation-error:focus {
  border-color: #953b39;
  box-shadow: 0 0 6px #d59392; }

.validation-summary-errors {
  /*font-weight: bold;*/
  color: #b94a48; }

.validation-summary-valid {
  display: none; }

.progress-none {
  background-color: gray !important; }

.panel-gradient {
  background-color: #4f714f; }

#behavioral_health_forms {
  padding: 0;
  margin: 2rem 0 0 0; }
  #behavioral_health_forms li:nth-child(odd) {
    background-color: #f1f1f1; }
  #behavioral_health_forms li a {
    padding: 1em;
    display: block; }
    #behavioral_health_forms li a:link, #behavioral_health_forms li a:visited {
      background-color: transparent; }
    #behavioral_health_forms li a:hover, #behavioral_health_forms li a:active {
      background-color: #d6f2c0;
      color: #000;
      text-decoration: none; }

#copaymentHelp input#memberID {
  max-width: 7em;
  margin-right: .5em; }

#copaymentHelp input#memberIDSuffix {
  max-width: 3em; }

#copaymentHelp input.phone {
  display: block;
  float: left; }
  #copaymentHelp input.phone.phone-1, #copaymentHelp input.phone.phone-2 {
    max-width: 4em;
    margin-right: .5em; }
  #copaymentHelp input.phone.phone-3 {
    max-width: 5em; }

#copaymentHelp p {
  margin-bottom: 2em; }

#copaymentHelp #submitRequest {
  margin-top: 2em;
  background-color: #69BE28;
  color: #FFF;
  font-weight: bold; }

#copaymentHelpSuccess .jumbotron {
  background-color: #f1fbea;
  text-align: center;
  border: #69BE28 solid 1px;
  padding-top: 0;
  padding-bottom: 0; }

#ProviderReferral {
  padding-bottom: 2em; }
  #ProviderReferral fieldset {
    margin-top: 2em; }
  #ProviderReferral .memberInfo {
    margin-bottom: 1.5em; }
  #ProviderReferral span.not_available {
    background-color: #d00;
    color: #FFF; }
  #ProviderReferral #tabSections {
    padding-top: 2em; }
  #ProviderReferral .tab-content .tab-pane {
    padding: 1em; }
  #ProviderReferral .tab-content #Diagnosis table,
  #ProviderReferral .tab-content #Procedure table {
    font-size: .9em; }
    #ProviderReferral .tab-content #Diagnosis table th,
    #ProviderReferral .tab-content #Procedure table th {
      background-color: #000;
      color: #FFF;
      padding: .5em .5em; }
    #ProviderReferral .tab-content #Diagnosis table tr:nth-child(odd),
    #ProviderReferral .tab-content #Procedure table tr:nth-child(odd) {
      background-color: #f1f1f1; }
    #ProviderReferral .tab-content #Diagnosis table td,
    #ProviderReferral .tab-content #Procedure table td {
      padding: .75em .5em; }
      #ProviderReferral .tab-content #Diagnosis table td span.delete-row,
      #ProviderReferral .tab-content #Procedure table td span.delete-row {
        cursor: pointer;
        font-size: .9em;
        font-weight: bold;
        transition: color 200ms ease; }
        #ProviderReferral .tab-content #Diagnosis table td span.delete-row i.fa.fa-close.red,
        #ProviderReferral .tab-content #Procedure table td span.delete-row i.fa.fa-close.red {
          color: #F00; }
        #ProviderReferral .tab-content #Diagnosis table td span.delete-row:hover, #ProviderReferral .tab-content #Diagnosis table td span.delete-row:active,
        #ProviderReferral .tab-content #Procedure table td span.delete-row:hover,
        #ProviderReferral .tab-content #Procedure table td span.delete-row:active {
          color: #F00;
          border-color: #D00 !important; }
  #ProviderReferral .tab-content #Diagnosis #clearAllCodes:link, #ProviderReferral .tab-content #Diagnosis #clearAllCodes:visited,
  #ProviderReferral .tab-content #Procedure #clearAllCodes:link,
  #ProviderReferral .tab-content #Procedure #clearAllCodes:visited {
    background-color: #F00;
    border-color: #a00; }
  #ProviderReferral .tab-content #Diagnosis #clearAllCodes:hover, #ProviderReferral .tab-content #Diagnosis #clearAllCodes:active,
  #ProviderReferral .tab-content #Procedure #clearAllCodes:hover,
  #ProviderReferral .tab-content #Procedure #clearAllCodes:active {
    background-color: #a00;
    border-color: #f00; }
  #ProviderReferral .tab-content #Diary textarea {
    height: 10em; }
  #ProviderReferral .tab-content #ServiceExtensions textarea {
    margin-bottom: 2em; }

#broker table tr td input[type='text'],
#broker table tr td select {
  margin: 0; }

#broker a.delete_row {
  color: #d00; }

#broker #zipcode {
  display: none; }
  #broker #zipcode.active {
    display: block; }

#hiddenForm,
#providerInfoHidden {
  display: none; }
  #hiddenForm.ready,
  #providerInfoHidden.ready {
    display: block !important; }
  #hiddenForm.visible-true,
  #providerInfoHidden.visible-true {
    display: block !important; }

#COBSurvey {
  padding-bottom: 2em; }
  #COBSurvey .hidden-section {
    display: none; }
  #COBSurvey label {
    font-weight: normal; }
  #COBSurvey input[type='radio'] {
    margin-left: 2rem; }
  #COBSurvey input[type='text'] {
    margin-bottom: 2rem; }
    #COBSurvey input[type='text'].phone {
      display: inline-block; }
      #COBSurvey input[type='text'].phone.phone-1, #COBSurvey input[type='text'].phone.phone-2 {
        max-width: 4em; }
      #COBSurvey input[type='text'].phone.phone-3 {
        max-width: 4.5em; }
    #COBSurvey input[type='text'].ssn {
      display: inline-block; }
      #COBSurvey input[type='text'].ssn.ssn-1 {
        max-width: 4em; }
      #COBSurvey input[type='text'].ssn.ssn-2 {
        max-width: 3em; }
      #COBSurvey input[type='text'].ssn.ssn-3 {
        max-width: 4.5em; }
  #COBSurvey .input-group {
    margin-bottom: 2rem; }
    #COBSurvey .input-group input[type='text'] {
      margin-bottom: 0; }
  #COBSurvey ol {
    list-style-type: none;
    padding-left: 1em;
    padding-right: 0; }
    #COBSurvey ol li {
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom: #f1f1f1 solid 2px;
      margin-bottom: 3rem;
      color: green;
      font-weight: bold; }
      #COBSurvey ol li div {
        color: #000;
        font-weight: normal; }
      #COBSurvey ol li .question-title {
        font-weight: bold; }
      #COBSurvey ol li div.question-checks {
        text-align: right; }
      #COBSurvey ol li ol.sub-questions {
        list-style-type: none;
        border-left: #f1f1f1 solid 5px;
        padding: 2rem 2rem 0 2rem; }
        #COBSurvey ol li ol.sub-questions .question-title {
          color: #000;
          font-weight: normal; }
  #COBSurvey span.add_another_member {
    cursor: pointer;
    display: block;
    margin-top: 2em;
    font-size: 1em; }
    #COBSurvey span.add_another_member .fa.fa-plus-square {
      font-size: 1.5em;
      color: #69BE28;
      line-height: normal; }
  #COBSurvey.CB240L2 #OtherInsuranceSection,
  #COBSurvey.CB240L2 #WorkersCompensationSection,
  #COBSurvey.CB240L2 #CountyStateFundedSection,
  #COBSurvey.CB240L2 #VeteransAdministrationSection,
  #COBSurvey.CB240L2 #MedicareEligibilitySection,
  #COBSurvey.CB240L2 #DivorceSeparationSection,
  #COBSurvey.CB240L2 #BlackLungSection {
    display: none; }
  #COBSurvey.CB240L2 #SubscriberIfNotEmployed,
  #COBSurvey.CB240L2 #SpouseIfNotEmployed,
  #COBSurvey.CB240L2 #DependentIfNotEmployed,
  #COBSurvey.CB240L2 #FormSubmit {
    display: none; }
  #COBSurvey #MemberInfo strong {
    background-color: #e1e1e1;
    height: 34px;
    width: 34px;
    border: #d1d1d1 solid 1px;
    line-height: 36px;
    text-align: center;
    float: left;
    border-right: 0; }
  #COBSurvey #MemberInfo #MemberHID {
    width: 150px;
    float: left;
    margin-right: .25em;
    border-left: 0; }
  #COBSurvey #MemberInfo #MemberHIDSuffix {
    width: 50px;
    float: left; }
  #COBSurvey #MemberInfo button {
    margin-right: 1em; }

#quoteHistory.jumbotron {
  background-color: #FFF; }
  #quoteHistory.jumbotron table {
    width: 100%; }
    #quoteHistory.jumbotron table tr > th {
      background-color: #69BE28;
      color: #FFF;
      font-size: 1.2em;
      padding: .5em; }
    #quoteHistory.jumbotron table tr:nth-child(even) td {
      background-color: #f1f1f1; }
    #quoteHistory.jumbotron table tr td {
      padding: .5em; }
      #quoteHistory.jumbotron table tr td a.btn.btn-primary {
        font-size: .9em; }

#CommissionReport table caption {
  font-size: 1.5em; }

#CommissionReport table tr {
  font-size: .8em; }
  #CommissionReport table tr td,
  #CommissionReport table tr th {
    padding: .5em .25em; }
  #CommissionReport table tr th {
    background-color: #000;
    color: #FFF; }
  #CommissionReport table tr:nth-child(even) {
    background-color: #f1f1f1; }
  #CommissionReport table tr.totals {
    font-weight: bold;
    border-top: #d1d1d1 solid 1px;
    color: green; }

#COBSurvey.CB240L2 fieldset {
  margin-top: 2em;
  margin-bottom: 2em; }

#ViewChangePCP .panel {
  background-color: #f1f1f1;
  padding: 1em; }
  #ViewChangePCP .panel h4 {
    border-bottom: #d1d1d1 solid 1px; }
  #ViewChangePCP .panel button.change-provider {
    margin-top: 2em; }

#ViewChangePCP .provider-info,
#ViewChangePCP #providerSearchForm,
#ViewChangePCP #providerSearchResults {
  display: none; }

#ViewChangePCP #providerSearchResults tr > th {
  background-color: #333;
  color: #FFF;
  font-size: 1.2em;
  padding: .5em 0; }

#ViewChangePCP #providerSearchResults .result-row:nth-child(even) {
  background-color: #F1f1f1; }

#ViewChangePCP #providerSearchResults .result-row td {
  padding: .5em .25em; }

#CaseTracker .row {
  margin-bottom: 1.5em; }

#CaseTracker table tbody td {
  padding-top: .5em;
  padding-bottom: .5em; }

#CaseTracker #CaseTrackerMemberMenu .container-fluid {
  padding-top: 15px;
  padding-bottom: 15px; }
  #CaseTracker #CaseTrackerMemberMenu .container-fluid ul {
    padding: 0;
    margin: 0; }
    #CaseTracker #CaseTrackerMemberMenu .container-fluid ul li {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: .5em; }
      #CaseTracker #CaseTrackerMemberMenu .container-fluid ul li .icon-image,
      #CaseTracker #CaseTrackerMemberMenu .container-fluid ul li .icon-text {
        text-align: center; }
      #CaseTracker #CaseTrackerMemberMenu .container-fluid ul li .icon-image i.fa {
        font-size: 2em !important; }
      #CaseTracker #CaseTrackerMemberMenu .container-fluid ul li .icon-text {
        font-size: .75em !important; }

#HealthRiskAssessment .questionSection .SectionErrorMessage {
  display: none; }
  #HealthRiskAssessment .questionSection .SectionErrorMessage.active {
    display: block; }

#HealthRiskAssessment .questionSection .sectionHeading h2 {
  background-color: #69BE28;
  color: #FFF !important;
  padding: .5em 1em;
  margin: 1em 0 0 0;
  text-align: right;
  background-image: url(../img/HRA/hra-section-bookend.png);
  background-repeat: no-repeat;
  background-position: bottom left; }

#HealthRiskAssessment .questionSection .sectionHeading p.page-title {
  padding-right: 1em;
  background-color: transparent; }

#HealthRiskAssessment .questionSection ol.questionList li.question {
  margin-bottom: 4em;
  margin-top: 4em; }
  #HealthRiskAssessment .questionSection ol.questionList li.question .description {
    font-style: italic; }
  #HealthRiskAssessment .questionSection ol.questionList li.question .healthTip {
    color: green;
    font-weight: bold; }
  #HealthRiskAssessment .questionSection ol.questionList li.question ul.answerList {
    padding: 0; }
    #HealthRiskAssessment .questionSection ol.questionList li.question ul.answerList li.answer {
      border-left: #eeeeee solid 10px;
      margin-bottom: .5em;
      padding-left: 1em;
      padding-top: .25em; }
      #HealthRiskAssessment .questionSection ol.questionList li.question ul.answerList li.answer label.answerLabel {
        font-weight: normal; }
      #HealthRiskAssessment .questionSection ol.questionList li.question ul.answerList li.answer span.value {
        color: red;
        font-style: italic; }

#EditHealthRiskAssessment ul#SectionList {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #EditHealthRiskAssessment ul#SectionList li {
    border-bottom: white solid 1px;
    border-top: #d2d2d2 solid 1px;
    background-color: #f8f8f8;
    padding: .5em; }
    #EditHealthRiskAssessment ul#SectionList li a {
      display: block; }
    #EditHealthRiskAssessment ul#SectionList li .order-button {
      display: inline;
      float: right;
      background-color: transparent;
      border: 0;
      padding: .15em; }

#EditHealthRiskAssessment #QuestionList li {
  background-color: #fdfdfd;
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: #dfdfdf solid 2px; }
  #EditHealthRiskAssessment #QuestionList li .questionText {
    font-weight: bold; }
  #EditHealthRiskAssessment #QuestionList li .healthTip {
    font-weight: bold;
    color: green; }
  #EditHealthRiskAssessment #QuestionList li ul li {
    border-bottom: none;
    padding: 1em;
    margin-bottom: 0em; }
  #EditHealthRiskAssessment #QuestionList li .order-button {
    color: #00759A; }
  #EditHealthRiskAssessment #QuestionList li button,
  #EditHealthRiskAssessment #QuestionList li a {
    float: right;
    background-color: transparent;
    border: 0; }
  #EditHealthRiskAssessment #QuestionList li a {
    float: right;
    padding-left: .25em; }
    #EditHealthRiskAssessment #QuestionList li a:link, #EditHealthRiskAssessment #QuestionList li a:visited {
      color: #00759A; }
    #EditHealthRiskAssessment #QuestionList li a:hover, #EditHealthRiskAssessment #QuestionList li a:active {
      color: #00759A; }

#EditHealthRiskAssessment #resultCont .fa.fa-check {
  color: green; }

#EditHealthRiskAssessment #resultCont .fa.fa-close {
  color: red; }

#EditHealthRiskAssessment #resultCont .fa.fa-spinner {
  color: dodgerblue; }

#HRAEditQuestion #resultCont .fa.fa-check {
  color: green; }

#HRAEditQuestion #resultCont .fa.fa-close {
  color: red; }

#HRAEditQuestion #resultCont .fa.fa-spinner {
  color: dodgerblue; }

#HRAEditQuestion #questionPreview .QuestionText {
  font-weight: bold; }

#HRAEditQuestion #questionPreview .HealthTip {
  font-weight: bold;
  color: green; }

#HRAEditQuestion .tab-pane {
  padding-top: 1em; }

#HRAEditQuestion .range,
#HRAEditQuestion .answer {
  position: relative; }
  #HRAEditQuestion .range .rangeControls,
  #HRAEditQuestion .range .answerControls,
  #HRAEditQuestion .answer .rangeControls,
  #HRAEditQuestion .answer .answerControls {
    position: absolute;
    top: 0;
    right: 0; }
    #HRAEditQuestion .range .rangeControls button,
    #HRAEditQuestion .range .answerControls button,
    #HRAEditQuestion .answer .rangeControls button,
    #HRAEditQuestion .answer .answerControls button {
      background: none;
      border: 0; }

#HRAEditSection #resultCont .fa.fa-check {
  color: green; }

#HRAEditSection #resultCont .fa.fa-close {
  color: red; }

#HRAEditSection #resultCont .fa.fa-spinner {
  color: dodgerblue; }

#HRAEditSection #ImagePreview {
  width: 100px;
  height: 100px;
  border: #f1f1f1 solid 2px; }

#HRAEditSection #AnswerKeys .answerKey {
  background-color: #f1f1f1;
  padding: 1em;
  margin-bottom: 1em; }

#MyHealthRisks ul.navTabs {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  #MyHealthRisks ul.navTabs li {
    display: inline-block;
    background-color: #dfdfdf;
    padding: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #MyHealthRisks ul.navTabs li.active {
      background-color: #f1f1f1;
      color: #FFF; }

#MyHealthRisks .assessmentTab {
  border: #f1f1f1 solid 2px;
  padding: 1em; }

#MyHealthRisks ul.resource-links li {
  margin-bottom: .75em; }

#MyHealthRisks .HRASummaryChart .HRASummaryChartHeader {
  background-color: #69BE28;
  font-size: 1.2em;
  color: #FFF; }

#MyHealthRisks .HRASummaryChart .HRASummaryChartRow,
#MyHealthRisks .HRASummaryChart .HRASummaryChartHeader {
  padding: .5em; }

#MyHealthRisks .HRASummaryChart .HRASummaryChartRow:nth-child(odd) {
  background-color: #f1f1f1; }

#MyHealthRisks .userSection {
  margin-bottom: 2em; }
  #MyHealthRisks .userSection ol.userSectionAnswers li > ul {
    margin-bottom: 2em; }
  #MyHealthRisks .userSection .sectionHeading h2 {
    background-color: #69BE28;
    color: #FFF !important;
    padding: .5em 1em;
    margin: 1em 0 0 0;
    text-align: right;
    background-image: url(../img/HRA/hra-section-bookend.png);
    background-repeat: no-repeat;
    background-position: bottom left; }
  #MyHealthRisks .userSection .sectionHeading p.page-title {
    padding-right: 1em;
    background-color: transparent; }
  @media screen and (max-width: 1023) {
    #MyHealthRisks .userSection .sectionHeading h2 {
      background-color: transparent;
      color: #333 !important;
      padding: .5em 1em;
      margin: 1em 0 0 0;
      text-align: left;
      background-image: none;
      background-repeat: no-repeat;
      background-position: bottom left; }
    #MyHealthRisks .userSection .sectionHeading p.page-title {
      padding-right: 1em;
      background-color: transparent; } }

#MedicareEnrollmentForm label.inline {
  margin-right: 1em; }

#MedicareEnrollmentForm div.form-group {
  margin-bottom: 1em;
  margin-top: 1em; }

#MedicareEnrollmentForm p {
  margin-bottom: 15px; }

#MedicareEnrollmentForm fieldset {
  margin-top: 2em; }

#MedicareEnrollmentForm fieldset legend {
  font-size: 19px; }

#MedicareEnrollmentForm .input-validation-error-radio {
  color: red !important; }

#MedicareEnrollmentForm .checkbox-cont {
  float: left;
  width: 100%;
  max-width: 3%; }
  @media (max-width: 992px) {
    #MedicareEnrollmentForm .checkbox-cont {
      max-width: 6%; } }

#MedicareEnrollmentForm .checkbox-label-cont {
  float: left;
  width: 100%;
  max-width: 97%; }
  @media (max-width: 992px) {
    #MedicareEnrollmentForm .checkbox-label-cont {
      max-width: 94%; } }

#MedicareEnrollmentForm ul#HealthConditions {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  #MedicareEnrollmentForm ul#HealthConditions li {
    margin-bottom: 2em; }
    #MedicareEnrollmentForm ul#HealthConditions li label.inline {
      display: inline; }

#MedicareEnrollmentForm ol li {
  margin-bottom: 2em; }

div.panel.announcements .panel-heading {
  background-color: #009944;
  color: #FFF; }

div.panel.announcements .panel-body {
  background-color: #dff0d8; }
  div.panel.announcements .panel-body ul {
    list-style-type: disc; }
  div.panel.announcements .panel-body ul.newsflash-attachments {
    list-style-type: none; }

div.panel.announcements h5.list-group-item-heading {
  color: #cd922c !important;
  font-size: 17.5px !important; }

.fileUploader {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 14px !important;
  border-radius: 10px;
  border: #009944 dashed 2px;
  text-align: center;
  font-weight: bold; }
  .fileUploader form.dropzone {
    border: none;
    min-height: unset; }
    .fileUploader form.dropzone input[type='file'] {
      display: none; }
    .fileUploader form.dropzone div.dz-default.dz-message span {
      color: #009944;
      font-size: 1.15em !important;
      padding: 2rem 1rem;
      display: block;
      cursor: pointer;
      background-color: #f1f1f1; }
      .fileUploader form.dropzone div.dz-default.dz-message span small {
        font-size: .75em !important;
        color: #888;
        font-weight: normal;
        font-style: italic; }
        .fileUploader form.dropzone div.dz-default.dz-message span small label {
          font-weight: bold;
          font-size: 1em !important; }
  .fileUploader ul.dropzone-previews {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .fileUploader ul.dropzone-previews .dz-error-message {
      color: #a00; }
    .fileUploader ul.dropzone-previews li.dz-preview {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: #d9d9d9 solid 1px; }
      .fileUploader ul.dropzone-previews li.dz-preview span.dz-upload {
        height: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #dd5f13; }
      .fileUploader ul.dropzone-previews li.dz-preview .dz-error-mark,
      .fileUploader ul.dropzone-previews li.dz-preview .dz-success-mark,
      .fileUploader ul.dropzone-previews li.dz-preview .dz-spinner {
        display: none;
        text-align: center; }
        .fileUploader ul.dropzone-previews li.dz-preview .dz-error-mark i.fa,
        .fileUploader ul.dropzone-previews li.dz-preview .dz-success-mark i.fa,
        .fileUploader ul.dropzone-previews li.dz-preview .dz-spinner i.fa {
          font-size: 2rem !important; }
      .fileUploader ul.dropzone-previews li.dz-preview .dz-error-mark,
      .fileUploader ul.dropzone-previews li.dz-preview dz-error-message {
        color: #a00; }
      .fileUploader ul.dropzone-previews li.dz-preview .dz-success-mark {
        color: #009944; }
      .fileUploader ul.dropzone-previews li.dz-preview .dz-spinner {
        color: #dd5f13; }
      .fileUploader ul.dropzone-previews li.dz-preview.dz-processing .dz-error-mark,
      .fileUploader ul.dropzone-previews li.dz-preview.dz-processing .dz-success-mark {
        display: none; }
      .fileUploader ul.dropzone-previews li.dz-preview.dz-processing .dz-spinner {
        display: block; }
      .fileUploader ul.dropzone-previews li.dz-preview.dz-processing.dz-complete.dz-success .dz-error-mark,
      .fileUploader ul.dropzone-previews li.dz-preview.dz-processing.dz-complete.dz-success .dz-spinner {
        display: none; }
      .fileUploader ul.dropzone-previews li.dz-preview.dz-processing.dz-complete.dz-success .dz-success-mark {
        display: block; }
      .fileUploader ul.dropzone-previews li.dz-preview.dz-complete.dz-error .dz-success-mark,
      .fileUploader ul.dropzone-previews li.dz-preview.dz-complete.dz-error .dz-spinner {
        display: none; }
      .fileUploader ul.dropzone-previews li.dz-preview.dz-complete.dz-error .dz-error-mark {
        display: block; }

#DocumentManager .entity-name {
  padding: .25em; }

#DocumentManager .file-entity a:link,
#DocumentManager .file-entity a:visited {
  color: #333; }

#DocumentManager .entity-selected > .parent-directory > .entity-name,
#DocumentManager .entity-selected.file-entity > .entity-name {
  background-color: #f5e7d0; }

#DocumentManagerContextMenu {
  padding: 0;
  width: 200px;
  position: absolute;
  display: none;
  background-color: #f0f0f0;
  color: #FFF;
  margin: 0;
  border: solid #53575a 1px;
  box-shadow: #53575a 0 0 5px; }
  #DocumentManagerContextMenu ul {
    padding: 0;
    margin: 0; }
    #DocumentManagerContextMenu ul li {
      border-bottom: solid 1px; }
      #DocumentManagerContextMenu ul li button {
        text-align: left !important; }

ul.newsflash-attachments {
  margin: 0;
  padding: 0 0 0 1em; }

div.contact-card {
  padding-bottom: .5em;
  /*border-bottom: dotted 1px $util-medium-grey;*/
  margin-bottom: 1em; }
  div.contact-card:last-child {
    border-bottom: 0;
    margin-bottom: 0; }
  div.contact-card label.name {
    display: block;
    margin-bottom: 0; }
  div.contact-card div.title {
    margin-bottom: 0;
    display: block; }
  div.contact-card span.phone {
    font-weight: bold;
    color: #009944; }
    div.contact-card span.phone:after {
      content: "\2022";
      padding-left: 1em;
      padding-right: .75em;
      color: #000; }
    div.contact-card span.phone:last-child:after {
      content: ""; }
  div.contact-card a.email {
    color: #009944;
    font-weight: bold; }

h1 {
  margin-left: 15px; }

.panel.thp-contacts h5 {
  font-size: 1.15em;
  font-weight: bold;
  color: #888 !important;
  margin: 2em 0 1em 0;
  border-bottom: #888 dotted 1px; }

.block-login--first_time li {
  padding: 5px 0; }

@media only screen and (max-width: 420px) {
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: auto;
    width: 100%; }
  .block-login--we_mobile__cta {
    background: green;
    width: 100%;
    color: white;
    padding: 15px 15px 5px 15px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    margin-top: 10px; }
  .block-login--we_mobile__storelinks a {
    width: 100%; }
  .block-login--we_mobile__storelinks img {
    width: 100%; } }

@media only screen and (min-width: 421px) and (max-width: 557px) {
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: auto;
    width: 100%; }
  .block-login--we_mobile__cta {
    background: green;
    width: 100%;
    color: white;
    padding: 15px 15px 5px 15px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    width: 100%;
    margin-top: 10px; }
  .block-login--we_mobile__storelinks a {
    width: 100%; }
  .block-login--we_mobile__storelinks img {
    width: 100%; } }

@media only screen and (max-width: 558px) {
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: auto;
    width: 100%; }
  .block-login--we_mobile__cta {
    background: green;
    width: 100%;
    color: white;
    padding: 15px 15px 5px 15px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    width: 100%;
    margin-top: 10px; }
  .block-login--we_mobile__storelinks a {
    width: 100%; }
  .block-login--we_mobile__storelinks img {
    width: 100%; }
  .form-group.block-login--Controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    gap: 15px; } }

@media only screen and (min-width: 558px) and (max-width: 767px) {
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: 0;
    padding: 0 15px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .block-login--we_mobile__cta {
    background: green;
    max-width: 65%;
    color: white;
    padding: 15px 15px 0px 15px;
    height: 150px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-direction: column;
        flex-direction: column;
    max-width: 35%;
    padding: 0;
    margin: 1px auto;
    width: 210px;
    height: 150px; }
  .block-login--we_mobile__storelinks a {
    width: 100%;
    margin: 0;
    padding: 0; }
  .block-login--we_mobile__storelinks img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  .form-group.block-login--Controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    gap: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .block-login--Main {
    all: unset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    gap: 15px; }
  block-login--loginPanel {
    all: unset;
    width: 73.3333%; }
  .col-sm-2.col-md-3.col-lg-4.block-login--first_time {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 160px;
    height: -webkit-fit-content;
    height: fit-content;
    padding: 0 0 0 1rem;
    margin-left: 0.2rem; }
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: auto;
    height: 100%;
    margin: 0;
    gap: 0;
    padding: 0 0 0 15px; }
  .block-login--we_mobile__cta {
    all: unset;
    background: green;
    color: #fff;
    width: 58%;
    height: 100%;
    margin-right: 5px;
    padding: 25px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: auto;
    margin: 0;
    height: auto;
    padding: 0; }
  .block-login--we_mobile__storelinks img {
    width: 210px; }
  .form-group.block-login--Controls {
    display: -ms-flexbox;
    display: flex;
    width: 64.7%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 5rem; }
  select#LoginRole {
    height: 36px;
    width: auto; }
  div.block-login--Controls > div {
    width: 50%;
    padding: 0rem;
    margin: 0; }
  .block-login--Controls_container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .block-login--Controls .input-group {
    -ms-flex-pack: end;
        justify-content: flex-end;
    display: -ms-flexbox;
    display: flex; }
  .form-group.block-login--Controls {
    display: -ms-flexbox;
    display: flex;
    width: 64.7%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 5rem; }
  select#LoginRole {
    height: 36px;
    width: auto; }
  div.block-login--Controls > div {
    width: 50%;
    padding: 0rem;
    margin: 0; }
  .block-login--Controls_container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .block-login--Controls .input-group {
    -ms-flex-pack: end;
        justify-content: flex-end;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 620px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 100%; }
  .block-login--we_mobile__cta {
    all: unset;
    background: green;
    color: white;
    padding: 15px 15px 5px 15px;
    width: 60%;
    height: 100%;
    margin-right: 5px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 30%; }
  .block-login--we_mobile__storelinks img {
    width: 210px; }
  .form-group.block-login--Controls {
    display: -ms-flexbox;
    display: flex;
    width: 64.7%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 5rem; }
  select#LoginRole {
    height: 36px;
    width: auto; }
  div.block-login--Controls > div {
    width: 50%;
    padding: 0rem;
    margin: 0; }
  .block-login--Controls_container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .block-login--Controls .input-group {
    -ms-flex-pack: end;
        justify-content: flex-end;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 1200px) {
  .col-sm-2.col-md-3.col-lg-4.block-login--we_mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 670px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 100%; }
  .block-login--we_mobile__cta {
    all: unset;
    background: green;
    color: white;
    padding: 15px 15px 5px 15px;
    width: 60%;
    height: 100%;
    margin-right: 5px; }
  .block-login--we_mobile__storelinks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 30%; }
  .block-login--we_mobile__storelinks img {
    width: 210px; }
  .form-group.block-login--Controls {
    display: -ms-flexbox;
    display: flex;
    width: 64.7%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 5rem; }
  select#LoginRole {
    height: 36px;
    width: auto; }
  div.block-login--Controls > div {
    width: 50%;
    padding: 0rem;
    margin: 0; }
  .block-login--Controls_container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .block-login--Controls .input-group {
    -ms-flex-pack: end;
        justify-content: flex-end;
    display: -ms-flexbox;
    display: flex; } }
